* {
	box-sizing: border-box;
	padding: 0;
}

body {
	font-size: 18px;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	height: 100%;
	margin: 0 0;
}

strong {
	font-size: 22px;
}

a {
	text-decoration: none;
	color: #0074ae;
}

h1 {
	font-size: 45px;
}

h2 {
	border-bottom: 3px solid #000;
	font-weight: 300;
	margin: .25em 0;
	font-size: 1.2em;
	text-align: center;
}

img {
	display: block;
	margin: auto;
	max-width: 100%!important;
	height: auto;
}

#page {
	max-width: 1000px;
	margin: auto;
}

a:hover , a:active {
	color: #7c0040;
	text-decoration: underline;
}

#top-menu {
	position: relative;
	background: #000000;
	top: -15px;
	left: 0;
	width: 100%;
	text-align: center;
	margin: 0 0;
}

#top-menu ul li {
	position: relative;
	display: inline-block;
	width: 120px;
	height: 60px;
	line-height: 60px;
}

#top-menu a {
	text-decoration: none;
	display: block;
	color: #fff;
}

#top-menu a:hover {
	background: #f1f1f1;
	color: #333;
}

#top-menu ul li:hover .sub-menu {
	display: block;
	background: black;
} 

#top-menu ul li .sub-menu {
	display: block;
	position: absolute;
	text-align: center;
	z-index: 10;
}

#time {
	color: #85949e;
}

.authors {
	font-size: .6em;
}

figure , figcaption {
	display: block;
}

.caption {
	padding: .8em 0;
	border-bottom: 1px solid #898989;
}

.credit {
	color: #898989;
	font-size: .75em;
}

.media {
	font-size: .9em;
	line-height: 1.5;
	margin-bottom: .25em;
}

.feature {
	max-width: 100%;
	width: 200px;
	float: right;
	margin-left: 1em;
	overflow: hidden;
	padding-bottom: 1em;
	padding-right: 15px;
}

.caption-feature {
	color: #000;
	line-height: 1.2em;
	text-align: center;
}

#site-footer {
	position: relative;
	background: black;
	display: block;
	padding: 1em 0;
	max-width: 100%;
}

#site-footer p {
	color: #e1e1e1;
	font-size: 12px;
	margin: 1em 0;
} 

#site-footer ul li {
	color: #e1e1e1;
	font-size: 15px;
	margin: 1em 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	max-width: 100%;
	line-height: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-shrink: all;
}

.container a {
	color: #e1e1e1;
}

#site-footer .column {
	border-right: 1px solid #363636;
	display: block;	
	padding-left: 50px;
	padding-right: 100px;
}

.follow {
	display: block;

	padding-left: 50px;
	padding-right: 50px;
}

.follow li a {
	color: red;
	display: block;
	font-size: 24px;
	padding: 3px 0 0;
}

.backtotop {
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 50px;
	z-index: 10;
}