* {
	box-sizing: border-box;
}

.clean::after {
	content: "";
	clear: both;
	display: table;
}

p {
	font-size: 2em;
	text-align: center;
	color: green;
	font-family: Arial;
}

.hover {
	float: left;
	width: 33.33%;
  	padding: 5px;
}

#banner {
	max-width: 100%
} 

.can {
	padding: 5px;
	font-family: Arial;
}

a:link {
	color: red;
}

a:visited {
	color: green;
}

a:hover {
	color: hotpink;
}

a:active {
	color: blue;
}

a {
	font-size: 2em;
	text-decoration: none;
}