* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	font-weight: bold;
}

a {
	font-size: 20px;
	text-decoration: none;
}

p {
	padding-left: 50px;
	font-size: 20px;
	color: #333;
}

.wrap {
	max-height: 100%;
	position: relative;
}

.album {
	float: left;	
	margin: 50px;
}

.content {
	float: right;
	display: block;
	position: absolute;
	left: 250px;
	padding-bottom: 60px;
}

.top-menu {
	width: 200px;
	height: auto;
	float: left;

}

.top-menu ul {
	background: grey;
	padding: 0;
	list-style-type: none;
}

.top-menu ul li {
	line-height: 40px;
	padding: 0 1em;
	position: relative;
}

.top-menu ul li a {
	color: #333;
	display: block;
}

.top-menu ul li:hover {
	background: white;
}

.top-menu .sub-menu {
	position: absolute;
	display: none;
	left: 0;
	width: 200px;
}

.top-menu ul li:hover .sub-menu {
	display: block;
}

.album:hover {
	transform: translateY(-5px);
}

.backtotop {
	position: fixed;
	right: 30px;
	bottom: 30px;
}
