* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	font-weight: bold;
}

.wrap {
	max-width: 1000px;
	margin: auto;
}

p {
	font-size: 2em;
	text-align: center;
	color: green;
}

.content {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: all;
	justify-content: center;
}

.album:hover {
	transform: translateY(-5px);
}

.album {
	margin: auto;
	width: 33,333333%;
	padding: 5px;
}

a:visited {
	color: green;
}

a:hover {
	color: hotpink;
}

a:active {
	color: blue;
}

a {
	font-size: 2em;
	text-decoration: none;
}

#main-menu {
	position: relative;
	background-color: #FFFFFF;
	text-align: center;
	padding: 15px 0;
	border-bottom: 1px solid #dddddd;
}

#main-menu a {
	padding: 15px;
	font-size: 20px;
	color: #737373;
	text-decoration: none;
}

#main-menu > a:first-child {
	position: absolute;
	padding: 4px;
	background-color: #ffffff;
	border-radius: 50%;
	top: -123px;
	left: 75px;
}

#main-menu > a:first-child > img {
	max-width: 160px;
	border-radius: 50%;
}

.top-menu li {
	position: relative;
}

.top-menu ul li a {
	display: block;
}

.top-menu ul {
	list-style-type: none;
	text-align: center;
}

.top-menu ul li {
	position: relative;
	display: inline-table;
	font-size: 14px;
}

.top-menu ul li:hover .sub-menu {
	display: block;
}

.sub-menu li {
	left: -50px;
}

.top-menu ul li > .sub-menu {
	display: none;
	position: absolute;
}

.top-menu .sub-menu {
	position: absolute;
}

#menu ul li {
	position: relative;
	font-size: 14px;
}

#menu .submenu {
	position: absolute;
	left: 200px;
	top: 0;
	display: none;
}

#menu li:hover .submenu {
	display: block;
}

.left ul li ul{
	position: absolute;     
	top: 0;     
	right: 0;      
	display: none;
}

.left ul {
	background: #8ad385;
	width: 200px;
	padding: 0;
	list-style-type: none;
}

.left ul li {
	width: auto;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #e8e8e8;
	padding: 0 1em;
}

.left ul li a {
	display: block;
}

.left ul li:hover {
	background: #cde2cd;
}

.backtotop {
	position: fixed;
	right: 30px;
	bottom: 30px;
}
